
@font-face {font-family: "feather";
  src: url('./fonts/feather.eot?t=1501828829848'); /* IE9*/
  src: url('./fonts/feather.eot?t=1501828829848#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/feather.woff?t=1501828829848') format('woff'), /* chrome, firefox */
  url('./fonts/feather.ttf?t=1501828829848') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/feather.svg?t=1501828829848#feather') format('svg'); /* iOS 4.1- */
}

.a-icon {
  font-family: 'feather' !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a-icon-alert-octagon:before { content: "\e81b"; }

.a-icon-alert-circle:before { content: "\e81c"; }

.a-icon-activity:before { content: "\e81d"; }

.a-icon-alert-triangle:before { content: "\e81e"; }

.a-icon-align-center:before { content: "\e81f"; }

.a-icon-airplay:before { content: "\e820"; }

.a-icon-align-justify:before { content: "\e821"; }

.a-icon-align-left:before { content: "\e822"; }

.a-icon-align-right:before { content: "\e823"; }

.a-icon-arrow-down-left:before { content: "\e824"; }

.a-icon-arrow-down-right:before { content: "\e825"; }

.a-icon-anchor:before { content: "\e826"; }

.a-icon-aperture:before { content: "\e827"; }

.a-icon-arrow-left:before { content: "\e828"; }

.a-icon-arrow-right:before { content: "\e829"; }

.a-icon-arrow-down:before { content: "\e82a"; }

.a-icon-arrow-up-left:before { content: "\e82b"; }

.a-icon-arrow-up-right:before { content: "\e82c"; }

.a-icon-arrow-up:before { content: "\e82d"; }

.a-icon-award:before { content: "\e82e"; }

.a-icon-bar-chart:before { content: "\e82f"; }

.a-icon-at-sign:before { content: "\e830"; }

.a-icon-bar-chart-:before { content: "\e831"; }

.a-icon-battery-charging:before { content: "\e832"; }

.a-icon-bell-off:before { content: "\e833"; }

.a-icon-battery:before { content: "\e834"; }

.a-icon-bluetooth:before { content: "\e835"; }

.a-icon-bell:before { content: "\e836"; }

.a-icon-book:before { content: "\e837"; }

.a-icon-briefcase:before { content: "\e838"; }

.a-icon-camera-off:before { content: "\e839"; }

.a-icon-calendar:before { content: "\e83a"; }

.a-icon-bookmark:before { content: "\e83b"; }

.a-icon-box:before { content: "\e83c"; }

.a-icon-camera:before { content: "\e83d"; }

.a-icon-check-circle:before { content: "\e83e"; }

.a-icon-check:before { content: "\e83f"; }

.a-icon-check-square:before { content: "\e840"; }

.a-icon-cast:before { content: "\e841"; }

.a-icon-chevron-down:before { content: "\e842"; }

.a-icon-chevron-left:before { content: "\e843"; }

.a-icon-chevron-right:before { content: "\e844"; }

.a-icon-chevron-up:before { content: "\e845"; }

.a-icon-chevrons-down:before { content: "\e846"; }

.a-icon-chevrons-right:before { content: "\e847"; }

.a-icon-chevrons-up:before { content: "\e848"; }

.a-icon-chevrons-left:before { content: "\e849"; }

.a-icon-circle:before { content: "\e84a"; }

.a-icon-clipboard:before { content: "\e84b"; }

.a-icon-chrome:before { content: "\e84c"; }

.a-icon-clock:before { content: "\e84d"; }

.a-icon-cloud-lightning:before { content: "\e84e"; }

.a-icon-cloud-drizzle:before { content: "\e84f"; }

.a-icon-cloud-rain:before { content: "\e850"; }

.a-icon-cloud-off:before { content: "\e851"; }

.a-icon-codepen:before { content: "\e852"; }

.a-icon-cloud-snow:before { content: "\e853"; }

.a-icon-compass:before { content: "\e854"; }

.a-icon-copy:before { content: "\e855"; }

.a-icon-corner-down-right:before { content: "\e856"; }

.a-icon-corner-down-left:before { content: "\e857"; }

.a-icon-corner-left-down:before { content: "\e858"; }

.a-icon-corner-left-up:before { content: "\e859"; }

.a-icon-corner-up-left:before { content: "\e85a"; }

.a-icon-corner-up-right:before { content: "\e85b"; }

.a-icon-corner-right-down:before { content: "\e85c"; }

.a-icon-corner-right-up:before { content: "\e85d"; }

.a-icon-cpu:before { content: "\e85e"; }

.a-icon-credit-card:before { content: "\e85f"; }

.a-icon-crosshair:before { content: "\e860"; }

.a-icon-disc:before { content: "\e861"; }

.a-icon-delete:before { content: "\e862"; }

.a-icon-download-cloud:before { content: "\e863"; }

.a-icon-download:before { content: "\e864"; }

.a-icon-droplet:before { content: "\e865"; }

.a-icon-edit-:before { content: "\e866"; }

.a-icon-edit:before { content: "\e867"; }

.a-icon-edit-1:before { content: "\e868"; }

.a-icon-external-link:before { content: "\e869"; }

.a-icon-eye:before { content: "\e86a"; }

.a-icon-feather:before { content: "\e86b"; }

.a-icon-facebook:before { content: "\e86c"; }

.a-icon-file-minus:before { content: "\e86d"; }

.a-icon-eye-off:before { content: "\e86e"; }

.a-icon-fast-forward:before { content: "\e86f"; }

.a-icon-file-text:before { content: "\e870"; }

.a-icon-film:before { content: "\e871"; }

.a-icon-file:before { content: "\e872"; }

.a-icon-file-plus:before { content: "\e873"; }

.a-icon-folder:before { content: "\e874"; }

.a-icon-filter:before { content: "\e875"; }

.a-icon-flag:before { content: "\e876"; }

.a-icon-globe:before { content: "\e877"; }

.a-icon-grid:before { content: "\e878"; }

.a-icon-heart:before { content: "\e879"; }

.a-icon-home:before { content: "\e87a"; }

.a-icon-github:before { content: "\e87b"; }

.a-icon-image:before { content: "\e87c"; }

.a-icon-inbox:before { content: "\e87d"; }

.a-icon-layers:before { content: "\e87e"; }

.a-icon-info:before { content: "\e87f"; }

.a-icon-instagram:before { content: "\e880"; }

.a-icon-layout:before { content: "\e881"; }

.a-icon-link-:before { content: "\e882"; }

.a-icon-life-buoy:before { content: "\e883"; }

.a-icon-link:before { content: "\e884"; }

.a-icon-log-in:before { content: "\e885"; }

.a-icon-list:before { content: "\e886"; }

.a-icon-lock:before { content: "\e887"; }

.a-icon-log-out:before { content: "\e888"; }

.a-icon-loader:before { content: "\e889"; }

.a-icon-mail:before { content: "\e88a"; }

.a-icon-maximize-:before { content: "\e88b"; }

.a-icon-map:before { content: "\e88c"; }

.a-icon-maximize:before { content: "\e88d"; }

.a-icon-map-pin:before { content: "\e88e"; }

.a-icon-menu:before { content: "\e88f"; }

.a-icon-message-circle:before { content: "\e890"; }

.a-icon-message-square:before { content: "\e891"; }

.a-icon-minimize-:before { content: "\e892"; }

.a-icon-mic-off:before { content: "\e893"; }

.a-icon-minus-circle:before { content: "\e894"; }

.a-icon-mic:before { content: "\e895"; }

.a-icon-minus-square:before { content: "\e896"; }

.a-icon-minus:before { content: "\e897"; }

.a-icon-moon:before { content: "\e898"; }

.a-icon-monitor:before { content: "\e899"; }

.a-icon-more-vertical:before { content: "\e89a"; }

.a-icon-more-horizontal:before { content: "\e89b"; }

.a-icon-move:before { content: "\e89c"; }

.a-icon-music:before { content: "\e89d"; }

.a-icon-navigation-:before { content: "\e89e"; }

.a-icon-navigation:before { content: "\e89f"; }

.a-icon-octagon:before { content: "\e8a0"; }

.a-icon-package:before { content: "\e8a1"; }

.a-icon-pause-circle:before { content: "\e8a2"; }

.a-icon-pause:before { content: "\e8a3"; }

.a-icon-percent:before { content: "\e8a4"; }

.a-icon-phone-call:before { content: "\e8a5"; }

.a-icon-phone-forwarded:before { content: "\e8a6"; }

.a-icon-phone-missed:before { content: "\e8a7"; }

.a-icon-phone-off:before { content: "\e8a8"; }

.a-icon-phone-incoming:before { content: "\e8a9"; }

.a-icon-phone:before { content: "\e8aa"; }

.a-icon-phone-outgoing:before { content: "\e8ab"; }

.a-icon-pie-chart:before { content: "\e8ac"; }

.a-icon-play-circle:before { content: "\e8ad"; }

.a-icon-play:before { content: "\e8ae"; }

.a-icon-plus-square:before { content: "\e8af"; }

.a-icon-plus-circle:before { content: "\e8b0"; }

.a-icon-plus:before { content: "\e8b1"; }

.a-icon-pocket:before { content: "\e8b2"; }

.a-icon-printer:before { content: "\e8b3"; }

.a-icon-power:before { content: "\e8b4"; }

.a-icon-radio:before { content: "\e8b5"; }

.a-icon-repeat:before { content: "\e8b6"; }

.a-icon-refresh-ccw:before { content: "\e8b7"; }

.a-icon-rewind:before { content: "\e8b8"; }

.a-icon-rotate-ccw:before { content: "\e8b9"; }

.a-icon-refresh-cw:before { content: "\e8ba"; }

.a-icon-rotate-cw:before { content: "\e8bb"; }

.a-icon-save:before { content: "\e8bc"; }

.a-icon-search:before { content: "\e8bd"; }

.a-icon-server:before { content: "\e8be"; }

.a-icon-scissors:before { content: "\e8bf"; }

.a-icon-share-:before { content: "\e8c0"; }

.a-icon-share:before { content: "\e8c1"; }

.a-icon-shield:before { content: "\e8c2"; }

.a-icon-settings:before { content: "\e8c3"; }

.a-icon-skip-back:before { content: "\e8c4"; }

.a-icon-shuffle:before { content: "\e8c5"; }

.a-icon-sidebar:before { content: "\e8c6"; }

.a-icon-skip-forward:before { content: "\e8c7"; }

.a-icon-slack:before { content: "\e8c8"; }

.a-icon-slash:before { content: "\e8c9"; }

.a-icon-smartphone:before { content: "\e8ca"; }

.a-icon-square:before { content: "\e8cb"; }

.a-icon-speaker:before { content: "\e8cc"; }

.a-icon-star:before { content: "\e8cd"; }

.a-icon-stop-circle:before { content: "\e8ce"; }

.a-icon-sun:before { content: "\e8cf"; }

.a-icon-sunrise:before { content: "\e8d0"; }

.a-icon-tablet:before { content: "\e8d1"; }

.a-icon-tag:before { content: "\e8d2"; }

.a-icon-sunset:before { content: "\e8d3"; }

.a-icon-target:before { content: "\e8d4"; }

.a-icon-thermometer:before { content: "\e8d5"; }

.a-icon-thumbs-up:before { content: "\e8d6"; }

.a-icon-thumbs-down:before { content: "\e8d7"; }

.a-icon-toggle-left:before { content: "\e8d8"; }

.a-icon-toggle-right:before { content: "\e8d9"; }

.a-icon-trash-:before { content: "\e8da"; }

.a-icon-trash:before { content: "\e8db"; }

.a-icon-trending-up:before { content: "\e8dc"; }

.a-icon-trending-down:before { content: "\e8dd"; }

.a-icon-triangle:before { content: "\e8de"; }

.a-icon-type:before { content: "\e8df"; }

.a-icon-twitter:before { content: "\e8e0"; }

.a-icon-upload:before { content: "\e8e1"; }

.a-icon-umbrella:before { content: "\e8e2"; }

.a-icon-upload-cloud:before { content: "\e8e3"; }

.a-icon-unlock:before { content: "\e8e4"; }

.a-icon-user-check:before { content: "\e8e5"; }

.a-icon-user-minus:before { content: "\e8e6"; }

.a-icon-user-plus:before { content: "\e8e7"; }

.a-icon-user-x:before { content: "\e8e8"; }

.a-icon-user:before { content: "\e8e9"; }

.a-icon-users:before { content: "\e8ea"; }

.a-icon-video-off:before { content: "\e8eb"; }

.a-icon-video:before { content: "\e8ec"; }

.a-icon-voicemail:before { content: "\e8ed"; }

.a-icon-volume-x:before { content: "\e8ee"; }

.a-icon-volume-:before { content: "\e8ef"; }

.a-icon-volume-1:before { content: "\e8f0"; }

.a-icon-volume:before { content: "\e8f1"; }

.a-icon-watch:before { content: "\e8f2"; }

.a-icon-wifi:before { content: "\e8f3"; }

.a-icon-x-square:before { content: "\e8f4"; }

.a-icon-wind:before { content: "\e8f5"; }

.a-icon-x:before { content: "\e8f6"; }

.a-icon-x-circle:before { content: "\e8f7"; }

.a-icon-zap:before { content: "\e8f8"; }

.a-icon-zoom-in:before { content: "\e8f9"; }

.a-icon-zoom-out:before { content: "\e8fa"; }

.a-icon-command:before { content: "\e8fb"; }

.a-icon-cloud:before { content: "\e8fc"; }

.a-icon-hash:before { content: "\e8fd"; }

.a-icon-headphones:before { content: "\e8fe"; }

