/* COLORS */

$color-primary: #232426 !default;
$color-primary-gradient: #0085DA !default;
$color-secondary: #8D6CD1 !default;
$color-tertiary: #8D6CD1 !default;
$color-success: #56BD5B !default;
$color-alert: #F7B422 !default;
$color-danger: #E1464E !default;

$color-text-primary: #16181E !default;
$color-text-placeholder: #B0BAC5 !default;

$color-border: #DFE6EE !default;


/* FONTS */

$font-size-base: 16px !default;
$font-size-large: 18px !default;
$font-size-small: 12px !default;

$font-weight-base: 400 !default;
