/* COLORS */

$color-primary: #ff2f54 !default;
$color-secondary: #141334 !default;
$color-info: #2b9fea !default;
$color-success: #17c671 !default;
$color-warning: #ffb400 !default;
$color-danger: #c4183c !default;

$color-text-primary: #16181E !default;
$color-text-regular: #313541 !default;

$color-border-strong: #667588 !default;
$color-border-normal: #8091A5 !default;
$color-border-light: #B0BAC5 !default;
$color-border-lighter: #DFE6EE !default;
$color-border-extra-lighter: #F4F7FA !default;

/* FONTS */

$font-size-base: 16px !default;
$font-size-large: 18px !default;
$font-size-small: 12px !default;

$font-weight-base: 400 !default;
$font-weight-strong: 700 !default;

$base-width: 4.166667%;
$xs-breaking-point: '768px' !default;
$sm-breaking-point: '768px' !default;
$md-breaking-point: '992px' !default;
$lg-breaking-point: '1200px' !default;
$xl-breaking-point: '1920px' !default;
